.content-basic
{
    background-image: url("/assets/img/bgicon.png");
    scroll-padding-left: 10px;
    overflow-y: auto;
}

#content
{
    border-color: black;
    border-style: solid;
    border-width: 2px;

    background-color: #847b9b;
    background-blend-mode: soft-light;
    border-radius: 1.25em;

    /* padding-right: 2em; */
    margin-left: 50px;
    /* box-sizing: border-box;  */

    width: calc(55% - 15px);
    height: 85%;

    /* scroll-margin: ; */

    background-image: url("/assets/img/bgicon.png");

    position: relative;
    top: auto;

    /* max-width: 550px; */
}

.content-basic::-webkit-scrollbar 
{
    width: 8px;
    height: 8px;
}

/* Track */
.content-basic::-webkit-scrollbar-track 
{
    background: #f1f1f1;
    border-radius: 1em;
    margin-block: 0.8em;
    border: black solid 0.1em;
}

/* Handle */
.content-basic::-webkit-scrollbar-thumb 
{
    background: #443d4e;
    border-radius: 1em;
    border: black solid 0.1em;
}

#media-content
{
    display: flex; 
    list-style-type:none;
}