#topBar {
    background-color: #9f87ad77; 
    width: 550px; 
    /* height: 100px;  */
    /* line-height: 0px; */
    align-items: center; 
    display: flex; 
    /* flex-direction: row;  */
    
    border-radius: 1.5em;
    position: sticky; 
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    
    top: 0px; 

    /* left: 2.5%; */
    border-style: solid;
    border-color: #372344;
    border-width: 2px;

    list-style-type:none;
    display:flex;
    justify-content: center;
    padding: 0;
    width: 100%;

    z-index: 3;
}